<h1>Dashboard#index</h1>
<p>Find me in app/views/dashboard/index.html.erb</p>

<li><%= @estate_agent.name -%> - <%= @estate_agent.contact_detail.address.address_line1 -%></li>
<table>
  <tr>
  	<td><%= @estate_agent.name %></td>
  	<td><%= @estate_agent.contact_detail.address.address_town %></td>
  	<td><%= @estate_agent.license_expiry_date %></td>
  	<td><%= link_to 'Show', @estate_agent %> | <%= link_to 'Edit', edit_estate_agent_path(@estate_agent) %> | <%= link_to 'Destroy', @estate_agent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
</table>

<div id="articles">
  <h2 id="month">
    <%= link_to "<", date: @date.prev_month %>
    <%= @date.strftime("%B %Y") %>
    <%= link_to ">", date: @date.next_month %>
  </h2>
  <%= calendar @date do |date| %>
    <%= date.day %>
    <% if @properties_by_date[date] %>
      <ul>
        <% @properties_by_date[date].each do |property| %>
          <li><%= link_to property.name, property %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>

