 <h2>Tenancy Agreement</h2>
 	
    	<%= f.input :start_date, as: :string, input_html: { data: 'datepicker' } %>
  	
    	<%= f.input :end_date, as: :string, input_html: { data: 'datepicker' } %>
  	
    	<%= f.input :payment_date, as: :string, input_html: { data: 'datepicker' } %>
  	
    	<%= f.input :rental_price %>
  	
  		<%= f.input :active, collection: [[1, 'Active'] ,[0, 'Unactive']], as: :radio_buttons, item_wrapper_class: 'inline', label_method: :last, value_method: :first  %>
  		
  		<%= f.input :rent_frequency, collection: [['Monthly', 0], ['Weekly', 1]], prompt: "Select Rent Frequency" %>
 	
  
 	<h2>Tenants</h2>
	<div id="tenants">
			<%= f.simple_fields_for :tenants  do |task|
		      		render 'tenants/tenant_fields', :f => task 
		      	end %>
		      	<br/>
		     <div class="links">
			<%= link_to_add_association 'Add a Tenant', f, :tenants, :partial => 'tenants/tenant_fields', :render_options => {:wrapper => 'bootstrap' }, :class => "btn btn-small btn-primary" %>
			</div>
</div>
