
BOO-New!!

<h1>Add new Tweet</h1>


<%= form_for @tweets do |f| %>
  <%= f.label :tweet %>:
  <%= f.text_field :tweet %><br />


  <%= f.submit %>
<% end %>


<%= link_to 'Back', {:action => 'list'} %>