<div class="field">
    	<%= f.select(:title, options_for_select([['Title', nil], ['Mr', 1], ['Mrs', 2],['Ms', 3],['Miss', 4]], nil)) %>
  </div>
  	
  	<div class="field">
    	<%= f.label :first_name %><br />
    	<%= f.text_field :first_name %>
  	</div>
  	
  	<div class="field">
    	<%= f.label :last_name %><br />
    	<%= f.text_field :last_name %>
  	</div>
  	
  	<div class="field">
    	<%= f.label :landline_number %><br />
    	<%= f.text_field :landline_number %>
  	</div>
  	
  	<div class="field">
    	<%= f.label :mobile_number %><br />
    	<%= f.text_field :mobile_number %>
  	</div>

  	
  	  	
  	<div class="field">
    	<%= f.label :mobile_number_2 %><br />
    	<%= f.text_field :mobile_number_2 %>
  	</div>
  	
  	<div class="field">
    	<%= f.label :fax_number %><br />
    	<%= f.text_field :fax_number %>
  	</div>
  	
  	<div class="field">
    	<%= f.label :email %><br />
    	<%= f.text_field :email %>
  	</div>

	<div class="field">
    	<%= f.label :best_contact_time %><br />
    	<%= f.text_field :best_contact_time %>
  	</div>

<h2>Address</h2>
<% f.object.build_address %>
	<%= f.fields_for :address do |builder|%>
		<%= render 'addresses/address_fields', f: builder %>
	<% end %>