<div class="nested-fields">
			
    	<%= f.input :name %>
    	
    	<%= f.file_field :image %>
    	
  		<%= f.hidden_field :image_cache %>
	   
	   <%= f.input :remote_image_url %>

<%= link_to_remove_association "Remove Image", f %>

</div>