<%= simple_form_for @property, html: { class: 'form-horizontal' } do |f| %>
  <% if @property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% @property.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  	<div class="row-fluid">
  		<div class="span12">
  		    <div id="rootwizard">
    			<div class="navbar">
			    <div class="navbar-inner">
			    	<div class="container">
					    <ul>
						    <li><a href="#tab1" data-toggle="tab">Property Info</a></li>
						    <li><a href="#tab2" data-toggle="tab">Property Address</a></li>
						    <li><a href="#tab3" data-toggle="tab">Property Details</a></li>
						    <li><a href="#tab4" data-toggle="tab">Property Images</a></li>
						    <% if params[:type]=='1' || f.object.payment_type==1%>
						    <li><a href="#tab5" data-toggle="tab">Landlords</a></li>
						    <li><a href="#tab6" data-toggle="tab">Tenants</a></li>
						    <% end %>
					    </ul>
    				</div>
    			</div>
    		</div>
    <div id="bar" class="progress progress-striped active">
    	<div class="bar"></div>
    </div>
    <div class="tab-content">
    	
	    <div class="tab-pane" id="tab1">
	    		<div class="row-fluid">
	    			<div class="span4">
				    	<%= f.input :reference, :input_html => {:rel => "tooltip", :title => "Reference Number to be Displayed"} %>
				    	
				    	<%= f.input :description, :input_html => {:rel => "tooltip", :title => "Add a long description about the property and it's features", :style => "height:50px"}, as: "text" %>
				    	
				    	<%= f.input :sector, collection: [['Residential', 0], ['Commercial', 1], ['BMV', 2]], prompt: "Select Property Sector" %>
						
						<% if params[:type]=='1' || f.object.payment_type==1%>
							<%= f.input :payment_type, as: :hidden, input_html: { value: '1' } %>
						<% else %>
							<%= f.input :payment_type, as: :hidden, input_html: { value: '0' } %>
						<% end %>
			 			
			 		
						<%= f.input :property_style_id, collection: PropertyStyle.all, label_method: :style,value_method: :id, :prompt => true %>
						
						<% if params[:type]=='1' || f.object.payment_type==1%>
							<%= f.input :tenure, collection: [[ 'Freehold', 0], ['Leasehold', 1]], prompt: "Select a Property Tenure"%>
		  				<% end %>
		    			
	    			</div>
			    	<div class="span4">
			    		<% if params[:type]=='0' || f.object.payment_type==0 %>
				    		<%= f.input :price, :input_html => {:rel => "tooltip", :title => "Enter Sale or Let price as digits only"} %>
			  			<% end %>
			  			
			    		<% if params[:type]=='1' || f.object.payment_type==1 %>
			    			<%= f.input :lease_price, :input_html => {:rel => "tooltip", :title => "Only valid for commercial properties"} %>
			  			<% end %>
			  			
			    		<%= f.input :price_old, :input_html => {:rel => "tooltip", :title => "Enter the old price if it has been updated"} %>
			  	
			    		<%= f.input :price_change_date, as: :string, input_html: { data: 'datepicker' }  %>
			    		
			    		<%= f.input :available_date, as: :string, input_html: { data: 'datepicker' } %>
			    		
			    		<%= f.input :occupied, collection: [[ 'No', 0], ['Yes', 1]], prompt: "Is it Occupied?" %>
					</div>
    			</div>
	    </div>
	    
	    <div class="tab-pane" id="tab2">
	    		
				<%= f.simple_fields_for :address, :wrapper => 'bootstrap' do |builder|%>
					<%= render 'addresses/address_fields', f: builder %>
				<% end %>
		    
	    </div>
	    <div class="tab-pane" id="tab3">
	    	<div class="row-fluid">
	    			<div class="span4">
				    	<%= f.input :use_class, :input_html => {:rel => "tooltip", :title => "Only valid for commercial properties"} %>
			  	
				    	<%= f.input :square_feet, :input_html => {:rel => "tooltip", :title => "Only valid for commercial properties"} %>
				
				    	<%= f.input :floors, collection: 1..10, prompt: nil%>
				  	 	
				    	<%= f.input :bedrooms, collection: 1..10, prompt: nil%>
				  	
				    	<%= f.input :reception_rooms, collection: 1..10, prompt: nil%>
				  
				    	<%= f.input :bathrooms, collection: 1..10, prompt: nil%>
				  	
				    	<%= f.input :upstairs_bathroom %>
				  	
				    	<%= f.input :downstairs_bathroom %>
	  	
				    	<%= f.input :wc, collection: 1..10, prompt: nil%>
				  	
				    	<%= f.input :upstairs_wc %>
				  	
				    	<%= f.input :downstairs_wc %>
				    </div>
	  				<div class="span4">
				  		<%= f.input :central_heating, collection: [[1, 'Yes'] ,[0, 'No'],[2,"Part"]], as:  :radio_buttons, item_wrapper_class: 'inline', label_method: :last, value_method: :first %>
				  	
				  		<%= f.input :double_glazed, collection: [[1, 'Yes'] ,[0, 'No'],[2,"Part"]], as:  :radio_buttons, item_wrapper_class: 'inline', label_method: :last, value_method: :first %>
						
						<%= f.input :front_garden, collection: [[1, 'Yes'] ,[0, 'No']], as:  :radio_buttons, item_wrapper_class: 'inline', label_method: :last, value_method: :first %>  	
				    	
				    	<%= f.input :back_garden, collection: [[1, 'Yes'] ,[0, 'No']], as:  :radio_buttons, item_wrapper_class: 'inline', label_method: :last, value_method: :first %>
				  		
				  		<%= f.input :drive_way, collection: [[1, 'Yes'] ,[0, 'No']], as:  :radio_buttons, item_wrapper_class: 'inline', label_method: :last, value_method: :first %>
				
						<%= f.input :furnished, collection: [[1, 'Yes'] ,[0, 'No'],[2,"Part"]], as:  :radio_buttons, item_wrapper_class: 'inline', label_method: :last, value_method: :first %>
				  	
				  		<%= f.input :garage, collection: [[1, 'Yes'] ,[0, 'No']], as:  :radio_buttons, item_wrapper_class: 'inline', label_method: :last, value_method: :first %>
				  	
						<%= f.input :dss_accepted, collection: [[1, 'Yes'] ,[0, 'No']], as:  :radio_buttons, item_wrapper_class: 'inline', label_method: :last, value_method: :first %>
				  	
				    	<%= f.input :keycode, :input_html => {:rel => "tooltip", :title => "Please enter the keycode if applicable"} %>
				    </div>
				  </div>
	    </div>
	    <div class="tab-pane" id="tab4">
	    	<div id="property_images">
	    			<h2>Images</h2>
					<%= f.simple_fields_for :property_images  do |image|
		      		render 'property_images/property_image_fields', f: image 
		      	end %>
					<br/>
					<div class="links">
						<%= link_to_add_association 'Add an Image', f, :property_images, :partial => 'property_images/property_image_fields', :render_options => {:wrapper => 'bootstrap' }, :class => "btn btn-small btn-primary" %>
					</div>
				</div>
	    </div>
	    <% if params[:type]=='1' || f.object.payment_type==1%>
		    <div class="tab-pane" id="tab5">
		    	<div id="landlords">
				<%= f.simple_fields_for :landlords  do |task|
			      		render 'landlords/landlord_fields', :f => task 
			      	end %>
			      	<br/>
			      	<div class="links">
				<%= link_to_add_association 'Add a Landlord', f, :landlords, :partial => 'landlords/landlord_fields', :render_options => {:wrapper => 'bootstrap' }, :class => "btn btn-small btn-primary" %>
				</div>
				</div>
		    </div>
		    
		    <div class="tab-pane" id="tab6">
		    	<div class="row-fluid">
		    			<div class="span12">
				<%= f.simple_fields_for :tenancy_agreements  do |task|
			      		render 'tenancy_agreements/tenancy_agreement_fields', :f => task 
			      	end %>
			      </div>
			      </div>
		    </div>
		<% end %>
	    <ul class="pager wizard">
		    <li class="previous"><a href="#">Previous</a></li>
		    <li class="next"><a href="#">Next</a></li>
		    <li class="next finish btn-primary" style="display:none;"><%=f.button :submit, :class => 'btn-primary', :style => 'float:right'%></li>
	    </ul>
    </div>	
    </div>

  		
  		</div>
  
     
     </div>
     <script>
     $(document).ready(function() {
	     //$('#rootwizard').bootstrapWizard();
	     	$('#rootwizard').bootstrapWizard({onTabShow: function(tab, navigation, index) {
				var $total = navigation.find('li').length;
				var $current = index+1;
				var $percent = ($current/$total) * 100;
				$('#rootwizard').find('.bar').css({width:$percent+'%'});
				
				// If it's the last tab then hide the last button and show the finish instead
				if($current >= $total) {
				$('#rootwizard').find('.pager .next').hide();
				$('#rootwizard').find('.pager .finish').show();
				$('#rootwizard').find('.pager .finish').removeClass('disabled');
				} else {
				$('#rootwizard').find('.pager .next').show();
				$('#rootwizard').find('.pager .finish').hide();
				}
				
				}});
	
  		});
  		</script>
<% end %>
