<%= simple_nested_form_for @property, html: { class: 'form-stacked' } do |f| %>
  <% if @property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% @property.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  test
  	<div class="row-fluid">
  		<div class="span4">
    		<%= f.input :sector, collection: [['Residential', 0], ['Commercial', 1], ['BMV', 2]], prompt: "Select Property Sector" %>
  		</div>
  		<div class="span4">
    		<%= f.input :payment_type, collection:[['Sale', 0], ['Let', 1]], prompt: "Select Type of Property" %>
  		</div>
  		<div class="span4">
			<%= f.input :property_style_id, collection: PropertyStyle.all, label_method: :style,value_method: :id, :prompt => true %>
		</div>
	</div>
    	<%= f.input :reference %>
  	
    	<%= f.input :available_date, as: :string %>

    	<%= f.input :price %>
  	
    	<%= f.input :lease_price %>

    	<%= f.input :tenure, collection: [[ 'Freehold', 0], ['Leasehold', 1]], prompt: "Select a Property Tenure"%>
  
    	<%= f.input :occupied, collection: [[ 'No', 0], ['Yes', 1]], prompt: "Is it Occupied?" %>
  	
    	<%= f.input :use_class %>
  	
    	<%= f.input :square_feet %>

    	<%= f.input :floors, collection: 1..10, prompt: nil%>
  	 	
    	<%= f.input :bedrooms, collection: 1..10, prompt: nil%>
  	
    	<%= f.input :reception_rooms, collection: 1..10, prompt: nil%>
  
    	<%= f.input :bathrooms, collection: 1..10, prompt: nil%>
  	
    	<%= f.input :upstairs_bathroom %>
  	
    	<%= f.input :downstairs_bathroom %>
  	
    	<%= f.input :wc, collection: 1..10, prompt: nil%>
  	
    	<%= f.input :upstairs_wc %>
  	
    	<%= f.input :downstairs_wc %>
  	
  		<%= f.input :central_heating, collection: [[1, 'Yes'] ,[0, 'No'],[2,"Part"]], as:  :radio_buttons, item_wrapper_class: 'inline', label_method: :last, value_method: :first %>
  	
  		<%= f.input :double_glazed, collection: [[1, 'Yes'] ,[0, 'No'],[2,"Part"]], as:  :radio_buttons, item_wrapper_class: 'inline', label_method: :last, value_method: :first %>
		
		<%= f.input :front_garden, collection: [[1, 'Yes'] ,[0, 'No']], as:  :radio_buttons, item_wrapper_class: 'inline', label_method: :last, value_method: :first %>  	
    	
    	<%= f.input :back_garden, collection: [[1, 'Yes'] ,[0, 'No']], as:  :radio_buttons, item_wrapper_class: 'inline', label_method: :last, value_method: :first %>
  		
  		<%= f.input :drive_way, collection: [[1, 'Yes'] ,[0, 'No']], as:  :radio_buttons, item_wrapper_class: 'inline', label_method: :last, value_method: :first %>

		<%= f.input :furnished, collection: [[1, 'Yes'] ,[0, 'No'],[2,"Part"]], as:  :radio_buttons, item_wrapper_class: 'inline', label_method: :last, value_method: :first %>
  	
  		<%= f.input :garage, collection: [[1, 'Yes'] ,[0, 'No']], as:  :radio_buttons, item_wrapper_class: 'inline', label_method: :last, value_method: :first %>
  	
		<%= f.input :dss_accepted, collection: [[1, 'Yes'] ,[0, 'No']], as:  :radio_buttons, item_wrapper_class: 'inline', label_method: :last, value_method: :first %>
  	
    	<%= f.input :keycode %>
  	
    	<%= f.input :description %>
  	
    	<%= f.input :price_old %>
  	
    	<%= f.input :price_change_date, as: :string  %>
  	
  		<h2>Images</h2>
			<%= f.fields_for :property_images %>

		<p><%= f.link_to_add "Add more images", :property_images %></p>  
	
	<h2>Address</h2>
	<%= f.fields_for :address do |builder|%>
		<%= render 'addresses/address_fields', f: builder %>
	<% end %>
	
	<h2>Landlords</h2>
	<%= f.fields_for :landlords %>
	<p><%= f.link_to_add "Add more Landlords", :landlords %></p>  
	<!--
		<h2>Address</h2>
	<%#= f.fields_for :address do |builder|%>
		<%#= render 'addresses/address_fields', f: builder %>
	<%# end %>
	
	<h2>Landlords</h2>
	<%#= f.fields_for :landlord do |builder|%>
		<%#= render 'landlords/landlord_fields', f: builder %>
	<%# end %>
		
		<%#= link_to_add_fields "Add Landlord", f, :landlord %>
-->
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
