<%= simple_form_for @property, html: { class: 'form-horizontal' } do |f| %>
  <% if @property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% @property.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  	<div class="row-fluid">
  		<div class="span2">
  			</div>
  		<div class="span8">
  		    <div id="rootwizard">
    			<div class="navbar">
			    <div class="navbar-inner">
			    	<div class="container">
					    <ul>
						    <li><a href="#tab1" data-toggle="tab">Property Info</a></li>
						    <li><a href="#tab2" data-toggle="tab">Property Address</a></li>
						    <li><a href="#tab3" data-toggle="tab">Property Details</a></li>
						    <li><a href="#tab4" data-toggle="tab">Property Images</a></li>
						    <li><a href="#tab5" data-toggle="tab">Landlords</a></li>
					    </ul>
    				</div>
    			</div>
    		</div>
    <div id="bar" class="progress progress-striped active">
    	<div class="bar"></div>
    </div>
    <div class="tab-content">
    	
	    <div class="tab-pane" id="tab1">
	    		<div class="row-fluid">
	    			<div class="span4">
				    	<%= f.input :reference %>
				    	
				    	<%= f.input :description %>
				    	
				    	<%= f.input :sector, collection: [['Residential', 0], ['Commercial', 1], ['BMV', 2]], prompt: "Select Property Sector" %>
				
			 			<%= f.input :payment_type, collection:[['Sale', 0], ['Let', 1]], prompt: "Select Type of Property" %>
			 		
						<%= f.input :property_style_id, collection: PropertyStyle.all, label_method: :style,value_method: :id, :prompt => true %>
						
						<%= f.input :tenure, collection: [[ 'Freehold', 0], ['Leasehold', 1]], prompt: "Select a Property Tenure"%>
		  
		    			
	    			</div>
			    	<div class="span4">
				    	<%= f.input :price %>
			  	
			    		<%= f.input :lease_price %>
			  	
			    		<%= f.input :price_old %>
			  	
			    		<%= f.input :price_change_date, as: :string, input_html: { data: 'datepicker' }  %>
			    		
			    		<%= f.input :available_date, as: :string, input_html: { data: 'datepicker' } %>
			    		
			    		<%= f.input :occupied, collection: [[ 'No', 0], ['Yes', 1]], prompt: "Is it Occupied?" %>
					</div>
    			</div>
	    </div>
	    
	    <div class="tab-pane" id="tab2">
	    		
				<%= f.simple_fields_for :address, :wrapper => 'bootstrap' do |builder|%>
					<%= render 'addresses/address_fields', f: builder %>
				<% end %>
		    
	    </div>
	    <div class="tab-pane" id="tab3">
	    	<div class="row-fluid">
	    			<div class="span4">
				    	<%= f.input :use_class %>
			  	
				    	<%= f.input :square_feet %>
				
				    	<%= f.input :floors, collection: 1..10, prompt: nil%>
				  	 	
				    	<%= f.input :bedrooms, collection: 1..10, prompt: nil%>
				  	
				    	<%= f.input :reception_rooms, collection: 1..10, prompt: nil%>
				  
				    	<%= f.input :bathrooms, collection: 1..10, prompt: nil%>
				  	
				    	<%= f.input :upstairs_bathroom %>
				  	
				    	<%= f.input :downstairs_bathroom %>
	  	
				    	<%= f.input :wc, collection: 1..10, prompt: nil%>
				  	
				    	<%= f.input :upstairs_wc %>
				  	
				    	<%= f.input :downstairs_wc %>
				    </div>
	  				<div class="span4">
				  		<%= f.input :central_heating, collection: [[1, 'Yes'] ,[0, 'No'],[2,"Part"]], as:  :radio_buttons, item_wrapper_class: 'inline', label_method: :last, value_method: :first %>
				  	
				  		<%= f.input :double_glazed, collection: [[1, 'Yes'] ,[0, 'No'],[2,"Part"]], as:  :radio_buttons, item_wrapper_class: 'inline', label_method: :last, value_method: :first %>
						
						<%= f.input :front_garden, collection: [[1, 'Yes'] ,[0, 'No']], as:  :radio_buttons, item_wrapper_class: 'inline', label_method: :last, value_method: :first %>  	
				    	
				    	<%= f.input :back_garden, collection: [[1, 'Yes'] ,[0, 'No']], as:  :radio_buttons, item_wrapper_class: 'inline', label_method: :last, value_method: :first %>
				  		
				  		<%= f.input :drive_way, collection: [[1, 'Yes'] ,[0, 'No']], as:  :radio_buttons, item_wrapper_class: 'inline', label_method: :last, value_method: :first %>
				
						<%= f.input :furnished, collection: [[1, 'Yes'] ,[0, 'No'],[2,"Part"]], as:  :radio_buttons, item_wrapper_class: 'inline', label_method: :last, value_method: :first %>
				  	
				  		<%= f.input :garage, collection: [[1, 'Yes'] ,[0, 'No']], as:  :radio_buttons, item_wrapper_class: 'inline', label_method: :last, value_method: :first %>
				  	
						<%= f.input :dss_accepted, collection: [[1, 'Yes'] ,[0, 'No']], as:  :radio_buttons, item_wrapper_class: 'inline', label_method: :last, value_method: :first %>
				  	
				    	<%= f.input :keycode %>
				    </div>
				  </div>
	    </div>
	    <div class="tab-pane" id="tab4">
	    	<div id="property_images">
	    			<h2>Images</h2>
					<%= f.simple_fields_for :property_images  do |image|
		      		render 'property_images/property_image_fields', f: image 
		      	end %>

				<%= link_to_add_association 'Add an Image', f, :property_images, :partial => 'property_images/property_image_fields', :class => "btn btn-small btn-primary" %>
				</div>
	    </div>
	    <div class="tab-pane" id="tab5">
			<%= f.simple_fields_for :landlords  do |task|
		      		render 'landlords/landlord_fields', :f => task 
		      	end %>
			<%= link_to_add_association 'Add a Landlord', f, :landlords, :partial => 'landlords/landlord_fields', :render_options => {:wrapper => 'bootstrap' } %>
	    </div>

	    <ul class="pager wizard">
		    <li class="previous"><a href="#">Previous</a></li>
		    <li class="next"><a href="#">Next</a></li>
		    <li class="next finish btn-primary" style="display:none;"><a href="javascript:;">Submit</a></li>
	    </ul>
    </div>	
    </div>

  		
  		</div>
  
     <%=f.button :submit, :class => 'btn-primary'%>
     </div>
     <script>
     $(document).ready(function() {
	     $('#rootwizard').bootstrapWizard();
  		});
  		</script>
<% end %>
