<div class="row-fluid spacer2">
	<div class="span2"></div>
	<div class="span8">
		  <div class="row-fluid">
		  	<div class="span3">
	        	<% if property.property_images.any?%>
	        		<%= image_tag property.property_images.first.image_url(:thumb).to_s, :class => "img-polaroid" %>
	        	<% else %>
	        		<%= image_tag "/assets/no-image.jpg", :class => "img-polaroid"%>
	        	<% end %>
        	</div>
      
      <div class="span8">
        <table class="table-striped">
          <tbody>            
            <tr>
              <td valign="top" height="30" align="left">Price: </td>
              <td><strong class="Font-16"><%= number_to_currency(property.price, :unit => "&pound;", :precision => 0) %> &nbsp;&nbsp;</strong>
              </td>
              </tr>
  
            <tr>
              <td width="28%" valign="top" align="left"><span class="hdrproduct">Property Ref:</span></td>
              <td width="72%" valign="top" align="left" class="hdrproduct"><%=property.reference%></td>
              </tr>
      
              <tr>
              <td valign="top" align="left"><span class="hdrproduct">Property Location:</span></td>
              <td valign="top" align="left" class="hdrproduct"><%=property.address.address_town%></td>
              </tr>              
            
  <tr>
    <td valign="top" align="left"><span class="hdrproduct">Property Type:</span></td>
    <td valign="top" align="left" class="hdrproduct">For Sale, <%=property.property_style.style%></td>
  </tr>
	            <tr>
              <td valign="top" align="left"><span class="hdrproduct">Bedrooms:</span></td>
              <td valign="top" align="left" class="hdrproduct"><%=property.bedrooms%></td>
              </tr>
	            <tr>
              <td valign="top" align="left"><span class="hdrproduct">Available Date:</span></td>
              <td valign="top" align="left" class="hdrproduct"><%=property.available_date%></td>
              </tr>
            

            </tbody></table>
			</div>
			<div class="span1">
        		<input type="button" onclick="document.location.href+='/<%= property.id %>'" style="cursor:pointer" value="More Information »" class="btn btn-primary" style="vertical-align:bottom">
        	</div>
        </div>
 
  </div>
  <div class="span2"></div> 
</div>
