<h1>Listing properties</h1>

<table id="properties" class="display" data-source="<%= properties_url(format: "json") %>">
	<thead>
  <tr>
    	<th>Property Ref</th>
		<th>Description</th>
		<th>Price</th>
		<th>Occupied</th>
		<th>Date Available</th>
		<th>Beds</th>
		<th>Recp</th>
		<th>Furn</th>
		<th>Prt Furn</th>
		<th>DG</th>
		<th>CH</th>
		<th>B-Up</th>
		<th>B-Down</th>
		<th>Garage</th>
		<th>DW</th>
  </tr>
  </thead>
<tbody>
<% @properties.each do |property| %>
  <tr>
  	<td><%= property.reference %></td>
  	<td><%= property.description %></td>
  	<td><%= property.price %></td>
  	<td><%= property.occupied %></td>
  	<td><%= property.available_date %></td>
  	<td><%= property.bedrooms %></td>
  	<td><%= property.reception_rooms %></td>
  	<td><%= property.furnished %></td>
  	<td><%= property.furnished %>!!!</td>
  	<td><%= property.double_glazed %></td>
  	<td><%= property.central_heating %></td>
  	<td><%= property.upstairs_bathroom %></td>
  	<td><%= property.downstairs_bathroom %></td>
  	<td><%= property.garage %></td>
  	<td><%= property.drive_way %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'New Property', new_property_path %>
