<%= form_for(@estate_agent) do |f| %>
  <% if @estate_agent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@estate_agent.errors.count, "error") %> prohibited this estate_agent from being saved:</h2>

      <ul>
      <% @estate_agent.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  
  <h2>Address</h2>
	
	<%= f.fields_for :address do |builder|%>
		<fieldset>
			<%= builder.label :address_line1, "Address Line 1"%>
			<%= builder.text_area :address_line1 %><br />
			<%= builder.label :address_line2, "Address Line 2"%>
			<%= builder.text_area :address_line2 %>
		</fieldset>
	<% end %>
	
	<div class="field">
    <%= f.label :license_expiry_date %><br />
    <%= f.text_field :license_expiry_date %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
