<h1>Listing estate_agents</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Town</th>
    <th>License Expiry Date</th>
  </tr>
<% if current_user.admin == 3 %>
	<% @estate_agents.each do |estate_agent| %>
	  <tr>
	  	<td><%= estate_agent.name %></td>
	  	<td><%= estate_agent.contact_detail.address.address_town %></td>
	  	<td><%= estate_agent.license_expiry_date %></td>
	  	<td><%= link_to 'Show', estate_agent %> | <%= link_to 'Edit', edit_estate_agent_path(estate_agent) %> | <%= link_to 'Destroy', estate_agent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	  </tr>
	<% end %>
<% end %>
<% if current_user.admin != 3 %>
	<tr>
		<td><%= @estate_agents.name -%></td>
		<td><%= @estate_agents.address.address_town -%></td>
		<td><%= @estate_agents.license_expiry_date -%></td>
	</tr>
<% end %>
</table>

<br />

<%= link_to 'New Estate agent', new_estate_agent_path %>
