<p id="notice"><%= notice %></p>


<%= link_to 'Edit', edit_estate_agent_path(@estate_agent) %> |
<%= link_to 'Back', estate_agents_path %>

<li><%= @estate_agent.name -%> - <%= @estate_agent.address -%></li>