<%= form_for(@place_of_work) do |f| %>
  <% if @place_of_work.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@place_of_work.errors.count, "error") %> prohibited this place_of_work from being saved:</h2>

      <ul>
      <% @place_of_work.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<%= render 'place_of_work_fields', f: f %>

	
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
