<div class="field">
    	<%= f.label :address_line1 %><br />
    	<%= f.text_field :address_line1 %>
  	</div>
  	
  	<div class="field">
    	<%= f.label :address_line2 %><br />
    	<%= f.text_field :address_line2 %>
  	</div>
  	
  	<div class="field">
    	<%= f.label :address_town %><br />
    	<%= f.text_field :address_town %>
  	</div>
  	
  	<div class="field">
    	<%= f.label :address_city %><br />
    	<%= f.text_field :address_city %>
  	</div>
  	
  	<div class="field">
    	<%= f.label :address_postcode %><br />
    	<%= f.text_field :address_postcode %>
  	</div>
  	
  	<div class="field">
    	<%= f.label :address_type %><br />
    	<%= f.text_field :address_type %>
  	</div>
  	
  	<div class="actions">
   		<%= f.submit %>
  	</div>
