<div class="row-fluid">
	<div class="span12">
<h1>Estate Agents</h1>
<% @estate_agent.each do |estate_agent| %>
	<div class="row-fluid spacer">
		<div class="span3">
			<% if estate_agent.estate_agents_images.any?%>
	        		<%= image_tag estate_agent.estate_agents_images.first.image_url(:thumb).to_s, :class => "img-polaroid" %>
	        	<% else %>
	        		<%= image_tag "/assets/no-image.jpg", :class => "img-polaroid"%>
	        	<% end %>
		</div>
		<div class="span9">
			<div class="row-fluid">
				<div class="span6">
			<h2><%= estate_agent.name %></h2><br />
			<%= estate_agent.contact_detail.address.address_line1 %>
			<br />
			<%= estate_agent.contact_detail.address.address_line2 %>
			<br />
			<%= estate_agent.contact_detail.address.address_town %>
			<br />
			<%= estate_agent.contact_detail.address.address_city %>
			<br />
			<%= estate_agent.contact_detail.address.address_postcode %>
			<br />
			<%= estate_agent.contact_detail.landline_number %>
			<br />
			<%= estate_agent.contact_detail.email %>
			<br />
			<br />
				</div>
				<div class="span3">
					<%= link_to 'View Properties', estate_agent.slug, :class => "btn btn-primary", :style => "clear:both" %>
				</div></div>
		</div>

	</div>
<% end %>

	</div>

</div>
