
BOO-New-Index!!!!!

<h1>Add new Tweet</h1>

<%= start_form_tag :action => 'create' %>

<p><label for="tweet">Tweet</label>:
<%= text_area 'tweet', 'tweet' %></p>

<p><label for="user">User</label>:
<%= text_field 'tweet', 'user' %></p>

<%= submit_tag "Create" %>
<%= end_form_tag %>
<%= link_to 'Back', {:action => 'list'} %>