<!DOCTYPE html>
<html>
<head>
  <title>Crm</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  Menu
  <ul class="menu">
  	<% if user_signed_in? %>
	  	<% if current_user.admin == 3 %>
		<li><a href="/estate_agents">Estate Agents</a></li>
		<li><a href="/addresses">Addresses</a></li>
		<% end %>
		<li><a href="/users">Users</a></li>
		</ul>
	<% end %>



<% if user_signed_in? %>
  Logged in as <strong><%= current_user.username %></strong>.
  <%= link_to 'Edit profile',  edit_user_path(current_user)%> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "Login", new_user_session_path %>
<% end %>

</head>
<body>
	
	<p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

<table width="100%" bgcolor="white">
	<tr>
		<td><%= yield %></td>
	</tr>
</table>


</body>
</html>
